body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: Helvetica;
}

.header {
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header, .footer {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;

    background-color: #1F2937;
    color: #F9FAF8;
}

.actionhd{
    font-size: 24px;    
}

.actiontxt{
    font-size: 18px;
}

.footer {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    padding: 4px 10px;
    font-weight: bold;
}

.button2 {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 6px;
    border-color: #E5E7EB;
    border-style: solid;
    padding: 7px 20px;
}

.title2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 50px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote2 {
    text-align: right;
    font-size: 24px;
}

.wintext {
    font-size: 18px;
    width: 200px;
    text-align: center;
}

.uppertop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F2937;
    flex: 1;   
    padding-bottom: 75px;
    padding-top: 75px;
    gap: 10px; 
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.centertop, .centerbottom, .bottom {
    display: flex;
    flex: 1;
}

.centertop, .centerbottom, .bottom, .uppertop {
    padding-left: 200px;
    padding-right: 200px;
}

.centertop {
    padding-top: 30px;
    padding-bottom: 90px;
}

.bottom {
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.centerbottom {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 90px;
}

.img {
    padding: 75px;
    background: gray;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.selection {
    display: flex;
}

.product, .centertop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    width: 300px;
}

.window {
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    border-radius: 10px;
}

.wintext {
    padding-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

.action-container {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 90px;
    gap: 30px;
    color: #E5E7EB;
}

.button2-cont {
    margin: auto;
}
