body {
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-right: 400px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;   
}

.uppertop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    padding: 75px;
    background: gray;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
}